body{
    margin: 0 2rem;
    display: flex;
}
div{
    width: 100%;
    padding: 0 0.5rem;
}

button{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#api_form div{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#rResponser,
#iLogs{
    font-size: 85%;
}

@media screen and (max-width: 710px){
    button{
        width: 40%;
        padding: 1rem;
        font-size: 120%;
    }
}