body{
    display: flex;
    flex-direction: row;
    
}
a {
    display: block;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    position: relative;
}

a:visited{
    color: lavenderblush;
}
a:hover{
    opacity: 0.9;
}
a:active{
    transform: translateY(2px);
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #e8ede0;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  font-size: 2rem;
  content: attr(data-tooltip);
  color: #242423;
  padding: 1rem .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 70%;
  background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

@media screen and (max-width: 710px){
  .tooltip::before {
    font-size: 1rem;
  }
}